<div class="contact">
  <div class="item">
    <svg
      t="1629824343096"
      class="icon"
      viewBox="0 0 1024 1024"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      p-id="1289"
      width="16"
      height="16"
    ><path
        d="M935.335233 153.62202h-846.666656a84.666666 84.666666 0 0 0-84.666666 84.666666v550.333327a84.666666 84.666666 0 0 0 84.666666 84.666665h846.666656a84.666666 84.666666 0 0 0 84.666666-84.666665v-550.333327a84.666666 84.666666 0 0 0-84.666666-84.666666z m-27.293711 213.952665L557.558216 549.672927a94.993177 94.993177 0 0 1-87.065555 0.197555l-354.612218-182.202664a42.333333 42.333333 0 0 1 38.698311-75.308177l354.606573 182.202664a10.196689 10.196689 0 0 0 9.341556-0.022577l350.477662-182.089776a42.333333 42.333333 0 1 1 39.034155 75.127555z"
        fill="#231815"
        p-id="1290"
      ></path></svg>
    {{email}}
  </div>
  <div class="item">
    <svg
      t="1629824382463"
      class="icon"
      viewBox="0 0 1024 1024"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      p-id="2787"
      width="16"
      height="16"
    ><path
        d="M768 0H256c-35.3 0-64 28.7-64 64v896c0 35.3 28.7 64 64 64h512c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64z m3.7 819.8h-512v-704h512v704z m-216.2 93.3c0 24-19.5 43.5-43.5 43.5s-43.5-19.5-43.5-43.5 19.5-43.5 43.5-43.5 43.5 19.4 43.5 43.5z"
        p-id="2788"
      ></path></svg>
    {{phone}}
  </div>
  <div class="item">
    <svg
      t="1629824431025"
      class="icon"
      viewBox="0 0 1024 1024"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      p-id="3627"
      width="16"
      height="16"
    ><path
        d="M512 64a298.24 298.24 0 0 0-124.586667 26.24c-38.613333 17.493333-72.533333 41.557333-101.674666 72.192A341.376 341.376 0 0 0 192 400c0 34.986667 14.165333 83.84 42.496 146.56a1824.853333 1824.853333 0 0 0 97.493333 185.941333c36.693333 61.269333 72.533333 114.474667 107.52 159.701334 34.986667 45.226667 59.136 67.797333 72.490667 67.797333 13.354667 0 37.376-22.613333 72.106667-67.84 34.688-45.184 70.528-98.56 107.477333-160.085333a1810.645333 1810.645333 0 0 0 97.92-186.368c28.330667-62.72 42.496-111.274667 42.496-145.706667a341.376 341.376 0 0 0-93.738667-237.568 323.541333 323.541333 0 0 0-101.674666-72.192A298.24 298.24 0 0 0 512 64z m0 475.989333c-36.693333 0-68.053333-13.696-94.165333-41.130666-26.112-27.392-39.168-60.373333-39.168-98.858667 0-38.485333 13.056-71.466667 39.168-98.858667 26.112-27.434667 57.514667-41.130667 94.165333-41.130666 36.693333 0 68.053333 13.696 94.165333 41.130666 26.112 27.392 39.168 60.373333 39.168 98.858667 0 38.485333-13.056 71.466667-39.168 98.858667-26.112 27.434667-57.514667 41.130667-94.165333 41.130666z"
        p-id="3628"
      ></path></svg>
    {{location}}
  </div>
  <div class="item">
    <svg
      t="1629824445467"
      class="icon"
      viewBox="0 0 1024 1024"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      p-id="4422"
      width="16"
      height="16"
    ><path
        d="M960 512c0 97.76-28.704 185.216-85.664 263.264-56.96 78.016-130.496 131.84-220.64 161.856-10.304 1.824-18.368 0.448-22.848-4.032a22.4 22.4 0 0 1-7.2-17.504v-122.88c0-37.632-10.304-65.44-30.464-82.912a409.856 409.856 0 0 0 59.616-10.368 222.752 222.752 0 0 0 54.72-22.816c18.848-10.784 34.528-23.36 47.104-38.592 12.544-15.232 22.848-35.904 30.912-61.44 8.096-25.568 12.128-54.688 12.128-87.904 0-47.072-15.232-86.976-46.208-120.16 14.368-35.456 13.024-74.912-4.48-118.848-10.752-3.616-26.432-1.344-47.072 6.272s-38.56 16.16-53.824 25.568l-21.984 13.888c-36.32-10.304-73.536-15.232-112.096-15.232s-75.776 4.928-112.096 15.232a444.48 444.48 0 0 0-24.672-15.68c-10.336-6.272-26.464-13.888-48.896-22.432-21.952-8.96-39.008-11.232-50.24-8.064-17.024 43.936-18.368 83.424-4.032 118.848-30.496 33.632-46.176 73.536-46.176 120.608 0 33.216 4.032 62.336 12.128 87.456 8.032 25.12 18.368 45.76 30.496 61.44 12.544 15.68 28.224 28.704 47.072 39.04 18.848 10.304 37.216 17.92 54.72 22.816a409.6 409.6 0 0 0 59.648 10.368c-15.712 13.856-25.12 34.048-28.704 60.064a99.744 99.744 0 0 1-26.464 8.512 178.208 178.208 0 0 1-33.184 2.688c-13.024 0-25.568-4.032-38.144-12.544-12.544-8.512-23.296-20.64-32.256-36.32a97.472 97.472 0 0 0-28.256-30.496c-11.232-8.064-21.088-12.576-28.704-13.92l-11.648-1.792c-8.096 0-13.92 0.928-17.056 2.688-3.136 1.792-4.032 4.032-2.688 6.72s3.136 5.408 5.376 8.096 4.928 4.928 7.616 7.168l4.032 2.688c8.544 4.032 17.056 11.232 25.568 21.984 8.544 10.752 14.368 20.64 18.4 29.6l5.824 13.44c4.928 14.816 13.44 26.912 25.568 35.872 12.096 8.992 25.088 14.816 39.008 17.504 13.888 2.688 27.36 4.032 40.352 4.032s23.776-0.448 32.288-2.24l13.472-2.24c0 14.784 0 32.288 0.416 52.032 0 19.744 0.48 30.496 0.48 31.392a22.624 22.624 0 0 1-7.648 17.472c-4.928 4.48-12.992 5.824-23.296 4.032-90.144-30.048-163.68-83.84-220.64-161.888C92.256 697.216 64 609.312 64 512c0-81.152 20.192-156.064 60.096-224.672s94.176-122.88 163.232-163.232C355.936 84.192 430.816 64 512 64s156.064 20.192 224.672 60.096 122.88 94.176 163.232 163.232C939.808 355.488 960 430.848 960 512"
        fill="#000000"
        p-id="4423"
      ></path></svg>
    <a href="https://{{url}}" target="_blank">
      {{url}}
    </a>
  </div>
</div>

<style>
  .contact {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--dark-800);
    border-bottom: 1px solid var(--dark-800);
    padding: 12px 60px;
    color: var(--dark-800);
  }

  .contact .item {
    display: flex;
    align-items: center;
  }

  .contact .item svg {
    height: 16px;
    width: 16px;
    margin-right: 6px;
  }
</style>
